<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/places/tabs/offers'></ion-back-button>
    </ion-buttons>
    <ion-title>New Offer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center" justify-content-arround>
      <ion-col size-sm="4" size-md="2" offset-sm="4" offset-md="4">Row-1 Col-1</ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>The Column</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              Row-1 Col-2
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
