<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/places/tabs/discover'></ion-back-button>
    </ion-buttons>
    <ion-title>Place Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button color="primary" (click)="onBookPlace()">Book</ion-button>
<ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-title> {{place.title}} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="place.imageUrl"></ion-img>
      <p>{{place.description}}</p>
      <ion-label>Rate: {{place.price | currency}} / Night</ion-label>
    </ion-card-content>
  </ion-card>
</ion-item>
</ion-content>
